[Unit]
Description=agent_manager.service
After=network.target auditd.service multi-user.target graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/osec/osec.init start
ExecStop=/opt/osec/osec.init stop
Restart=no
User=root

[Install]
WantedBy=multi-user.target



